GnuPGInterface==0.3.2
Mako==0.7.1
MarkupSafe==0.15
PAM==0.4.2
PIL==1.1.7
SQLAlchemy==0.8.0b2
Twisted-Core==12.2.0
Twisted-Names==12.2.0
Twisted-Web==12.2.0
adium-theme-ubuntu==0.3.3
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
compizconfig-python==0.9.8.6
configglue==1.0
debtagshw==0.1
defer==1.0.6
dirspec==4.0.0
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.28dev-r0
duplicity==0.6.19
f.lux-indicator-applet==1.1.8
httplib2==0.7.4
lxml==2.3.5
oauth==1.0.1
oneconf==0.2.9.1
pexpect==2.4
piston-mini-client==0.7.2
protobuf==2.4.1
psycopg2==2.4.6
pyOpenSSL==0.13
pycups==1.9.62
pycurl==7.19.0
pyglet==1.1.4
pyinotify==0.9.3
pyserial==2.5
pysmbc==1.0.13
pysqlite==1.0.1
python-apt==0.8.7ubuntu4
python-debian==0.1.21-nmu2ubuntu1
pyxdg==0.20
reportlab==2.5
rhythmbox-ubuntuone==4.0.0
sessioninstaller==0.0.0
simplejson==2.6.1
six==1.1.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
ubuntu-tweak==0.8.3
ubuntuone-couch==0.3.0
ubuntuone-storage-protocol==4.0.0
unity-lens-photos==0.9
unity-lens-video==0.3.14
unity-scope-video-remote==0.3.10
urlgrabber==3.9.1
usb-creator==0.2.23
virtualenv==1.8.4
wsgiref==0.1.2
xdiagnose==3.2
yum-metadata-parser==1.1.2
zope.interface==3.6.1
